<footer>
    <div class="footer-icon-section">
        <h2>Redes sociales</h2>
        <div class="grid grid-cols-5 gap-4">
            <a href="https://www.instagram.com/daniiel._.roman/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="https://www.linkedin.com/in/danielroman-/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="https://www.facebook.com/danielroman.lol/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://wa.me/573506192178" target="_blank"><ion-icon name="logo-whatsapp" "></ion-icon></a>
            <a href="https://github.com/DanielRoman11/" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
          </div>
        <p>&#169 2022 | Daniel Román</p>
    </div>
</footer>