<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>Hoja de vida</title>
</head>
  <body>
    <header>
        <%- include('partials/navigation') %>
    </header>
    <section id="text-section">
      <div class="item-1">
        <img id="profile-picture" src="images/ProfilePicture.jpeg" alt="Profile Picture of Daniel Rom치n" />
        <h3 class="pt-4">Daniel Ordo침ez Rom치n</h3>
        <p>Student of Systems Engeeniering at Ean University</p>
      </div>
      <div class="item-2">
        <h1>Professional aspirations</h1>
        <p>
          Work developing web applications or software. Learn from my team and the technologies they use, to improve my skills as an engineer and as a person.
        </p>
        
        <h1><br><br>Software Skills</h1>
        <section class="container-scrollspy">
          <div class="col-4 pt-6">
            <div id="list-knowledge" class="list-group">
              <a class="list-group-item list-group-item-action" href="#list-Java">JAVA</a>
              <a class="list-group-item list-group-item-action" href="#list-CS">C#</a>
              <a class="list-group-item list-group-item-action" href="#list-M-Sql">MICROSOFT SQL</a>
              <a class="list-group-item list-group-item-action" href="#list-html">HTML</a>
            </div>
          </div>
          <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#list-knowledge" data-bs-smooth-scroll="true" class="scrollspy-example text-start">
              <h4 id="list-Java">JAVA</h4>
              <p>
                You can see my sheet of projects on GitHub in a folder name JAVA PROJECTS, or use this link to go and check it!
              </p>
              <h4 id="list-CS">C#</h4>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eaque laborum labore numquam dolore nulla, rerum suscipit facere aliquid ut, error eligendi quam, deserunt fugit nihil? Repellat mollitia deleniti voluptas. Quidem ullam aut amet est, eligendi esse atque saepe itaque enim repudiandae excepturi expedita laborum. Maiores explicabo aut, nesciunt corrupti ut veniam dolorum quasi sunt, quam quaerat magnam eos odit blanditiis quod tempore eum velit assumenda ea. Dolor eius consequatur deleniti magnam neque suscipit nam, reiciendis placeat est ad voluptatibus? Qui error, ea incidunt saepe rem quos expedita blanditiis unde? Voluptate quibusdam nam hic ullam iure, odit laborum laboriosam unde!
              </p>
              <h4 id="list-M-Sql">MICROSOFT SQL</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quam nulla, dolor labore culpa molestias cupiditate dolorem sed enim aperiam impedit qui hic error repellat! Labore deserunt perspiciatis atque voluptatum tempora fugiat necessitatibus aspernatur cupiditate placeat illum eligendi quia dolore consequatur adipisci maxime dolorum commodi sed iste, aperiam corporis. At voluptatibus dolor aut laboriosam unde, placeat, id consequuntur, architecto sit illo harum hic fugiat tempore! Nemo dolores porro optio quia fugiat recusandae nobis, eum voluptatum. Corporis consequatur odio facilis suscipit! Temporibus optio accusamus, est laboriosam, alias expedita laborum debitis natus facilis, quod consequuntur explicabo ducimus. Commodi repellendus error deserunt nisi?
              </p>
              <h4 id="list-html">HTML Y CSS</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad iusto ducimus praesentium vitae necessitatibus nam odit non! Cupiditate quaerat voluptatem odit maxime iure asperiores beatae excepturi facere architecto reprehenderit atque distinctio sit mollitia sed, labore blanditiis ea eius exercitationem ipsa, fugiat corrupti accusantium cum. Incidunt, ex quibusdam esse eos nesciunt temporibus labore ipsa, velit debitis voluptates magnam reprehenderit, non maiores quasi libero eveniet aliquam iure dolorem placeat delectus eius! Aspernatur ut nobis, fugiat illum aut culpa quas tempore voluptates porro quis velit ducimus repellendus expedita esse nisi at animi accusamus corporis eaque nam praesentium. Repellendus eaque ipsum quis. Commodi, laboriosam?
              </p>
            </div>
          </div>
        </section>
      </div>
      <div class="item-3 text-center d-flex justify-content-center align-intems-center">
        <div class="card text-bg-dark mb-3" >
          <div class="card-body">
            <h5 class="card-title pb-3">Contact information</h5>
            <p class="card-text">Phone: +57 350 619 21 78<br>Email: <a href="mailto:danielroman.05111@gmaill.com">danielroman.05111@gmail.com</a><br>LinkedIn: <a href="https://www.linkedin.com/in/danielroman-/">www.linkedin.com/in/danielroman-/</a></p>
          </div>
        </div>
        <div class="card text-bg-dark mb-3" >
          <div class="card-body">
            <h5 class="card-title pb-3">Aptitudes</h5>
            <p class="card-text">Effective Comunication<br>Active Listening<br>Resilience<br>Team Work<br>Capacity of learning<br>Autonomy<br>Investigation capacity<br>Flexibility and Adaptability<br>Critical Thinking
          </div>
        </div> 
        <div class="card text-bg-dark mb-3" >
          <div class="card-body">
            <h5 class="card-title pb-3">Lenguages</h5>
            <p class="card-text">Espa침ol: Native<br>Ingles: B2</p>
          </div>
        </div> 
      </div>
      
      
      <div class="item-4">
        <h1>Formation</h1>
        <section class="section-2">
          <div>Systems Engineering</div>
          <div>2019</div>
        </section>
      </div>
    </section>
    <%- include('partials/footer') %>
  </body>
</html>