<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>CV | Daniel Rom치n</title>
</head>
  <body>
    <header>
        <%- include('partials/navigation') %>
    </header>
    <section id="text-section">
      <div class="item-1">
        <img id="profile-picture" src="images/ProfilePicture.jpeg" alt="Profile Picture of Daniel Rom치n" />
        <h3 class="pt-4">Daniel Ordo침ez Rom치n</h3>
        <p>Student of Systems Engeeniering at Ean University</p>
      </div>
      <div class="item-2">
        <h1>Professional aspirations</h1>
        <p class="fw-bold pt-5">
          Work developing web applications or software. Learn from my team and the technologies they use, to improve my skills as an engineer and as a person.
        </p>
        
        <h1 class="pt-5">Software Skills</h1>
        <section class="container-scrollspy">
          <div class="col-4 pt-6">
            <div id="list-knowledge" class="list-group">
              <a class="list-group-item list-group-item-action" href="#list-Java">JAVA, SQL SERVER</a>
              <a class="list-group-item list-group-item-action" href="#list-CS">C#, ASP.NET, C++, HLSL</a>
              <a class="list-group-item list-group-item-action" href="#list-html">HTML, CSS, JS</a>
              <a class="list-group-item list-group-item-action" href="#list-Node">JS, EJS, NODE.JS</a>
            </div>
          </div>
          <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#list-knowledge" data-bs-smooth-scroll="true" class="scrollspy-example text-start">
              <h4 id="list-Java">JAVA</h4>
              <p>
                I made a software that use the information from a database created in Microsoft SQL server using the architectural-pattern MVC (model-view-controller).
                <br>This application uses a CRUD (Create, Read, Update and Delete), with the purpose of administrated a inventory of valves for Hidroconsulting SAS.
                <br>You can see all the documentation and the application on my GitHub:
                <br><a href="https://github.com/DanielRoman11/JavaApplication1">Valve Inventory for Hidroconsulting</a>
              </p>
              <h4 id="list-CS">C#</h4>
              <p>
                I created a VideoGame using as a principal lenguage of programming C#, with Unity2D.
                <br>I made this game for the study unit of Databases in a Seedbed (a group of people that resolve a certain problem from the university).
                <br>This game was made for Postobon (an enterprise that makes sweetened beverage), the idea was created a game with the purpose of making the people of Colombia aware about recycle bottles.
                <br>You can find all the documentation of this work in my GitHub:
                <br><a href="https://github.com/DanielRoman11/ENDLESSRUNNER">VideoGame for Postobon</a>
              </p>
              <h4 id="list-html">HTML, CSS and JavaScript</h4>
              <p>
                I made this page example of page for the study unit of Web Designed for the Ean University with HTML, CSS and JavaScript.
                <br>The structure of the page is designed in HTML and the designed of the structure is made on CSS, this web have a responsive designed so you can use any kind of OS.
                <br>All the documentation of this web is in my GitHub:
                <br><a href="">Responsive Web Designed</a>
              </p>
              <h4 id="list-Node">Node.JS Express Framework</h4>
              <p>
                This website was created with HTML with EJS, CSS, JavaScript and Node.Js for the Back End, and I'm using for this website the framework Boostrap 5.2.
                <br>You can see all the documentation for this website on my GitHub:
                <a href="https://github.com/DanielRoman11/Express-Project">Portfolio with Node.JS and Express</a>
              </p>
            </div>
          </div>
        </section>
      </div>
      <div class="item-3 text-center d-flex justify-content-center">
        <div class="card text-bg-dark mb-3" >
          <div class="card-body">
            <h5 class="card-title pb-3">Contact information</h5>
            <p class="card-text text-start">Phone: +57 350 619 21 78<br>Email: <a href="mailto:danielroman.05111@gmaill.com">danielroman.05111@gmail.com</a><br>LinkedIn: <a href="https://www.linkedin.com/in/danielroman-/">www.linkedin.com/in/danielroman-/</a></p>
          </div>
        </div>
        <div class="card text-bg-dark mb-3" >
          <div class="card-body">
            <h5 class="card-title pb-3">Aptitudes</h5>
            <p class="card-text text-start">Effective Comunication<br>Active Listening<br>Resilience<br>Team Work<br>Capacity of learning<br>Autonomy<br>Investigation capacity<br>Flexibility and Adaptability<br>Critical Thinking
          </div>
        </div> 
        <div class="card text-bg-dark mb-3" >
          <div class="card-body">
            <h5 class="card-title pb-3">Lenguages</h5>
            <p class="card-text text-start">Spanish: Native<br>English: B2</p>
          </div>
        </div> 
      </div>
      
      
      <div class="item-4">
        <!-- Formation Section -->
        <h1>Formation</h1>
        <section class="section-2">
          <div>2018</div>
          <div>Bachelor</div>
          <div>Colegio Interamericano</div>
          <div>2019 - current</div>
          <div>Systems Engineering - 7th (/8) semester</div>
          <div>Ean University</div>
          <div>2022 - August</div>
          <div>Responsive Web Designed</div>
          <div>FreeCodeCamp</div>
          <div>2022 - current</div>
          <div>JavaScript Algorithms and Data Structures</div>
          <div>FreeCodeCamp</div>
        </section>
        <!-- Experience Section -->
        <h1 class="pt-5">Experience</h1>
        <section class="section-3">
          <div>Comercial</div>
          <div class="text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus placeat ipsum amet similique unde! Praesentium autem eveniet accusamus voluptatum aspernatur?</div>
          <div>Support in Telemetry</div>
          <div class="text-start pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, dicta voluptatum earum optio sed distinctio vitae quae dignissimos illo delectus.</div>
        </section>
        <!-- Hobbies Section -->
        <section class="section-4">
          <div></div>
        </section>
      </div>
    </section>
    <%- include('partials/footer') %>
  </body>
</html>