<footer>
    <ul class="footer-section1">
        <li class="foo-li"><a class="foo-link" href="/contact">Contact</a></li>
        <li class="foo-li"><a class="foo-link" href="/knowledge">Knowledge</a></li>
        <li class="foo-li"><a class="foo-link" href="https://github.com/DanielRoman11/">Projects</a></li>
    </ul>
</footer>