<footer>
    <ul class="list">
        <li class="foo-list"><a class="foo-link" href="#">Contact</a></li>
        <li class="foo-list"><a class="foo-link" href="#">Knowledge</a></li>
        <li class="foo-list"><a class="foo-link" href="#">Projects</a></li>
    </ul>
</footer>