<!-- Imported from Boostrap@5.2 -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Daniel Román</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/DanielRoman11/">Projects</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About me
            </a>
            <ul class="dropdown-menu">
              <li><hr class="dropdown-divider"></hr></li>
              <li><a class="dropdown-item" href="/formation">Formation</a></li>
              <li><a class="dropdown-item" href="/knowledge">Knowledge</a></li>
              <li><a class="dropdown-item" href="/experience">Experience</a></li>
              <li><hr class="dropdown-divider"></hr></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- NAVBAR FROM BOOSTRAP 5.2 -->
  <nav id="navar-example2" class="navbar bg-light px-3 mb-3">
    <a class="navbar-brand" href="/">Daniel Román</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">About me</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#scrollspyHeading3">Formation</a></li>
          <li><a class="dropdown-item" href="#scrollspyHeading4">Knowledge</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  