html{
    min-height: 100%;
}
body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ab9680;
}
/* NAVBAR SECTION OF THE HTML DOCUMENT */
.navbar{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    background: #706942;
    opacity: .90;
    z-index: 999;
}
#profile-picture{
    width: 75%;
    height: fit-content;
    margin: 0 auto;
    padding: 2px;
    border: 2px dotted #5f4633;
    border-radius: 100px 25px;
}
/* FIRTS SECTION OF THE HTML DOCUMENT */
.container-scrollspy{
    border-top: 1px solid whitesmoke;
    width: 100%;
    height:25rem;
    display: grid;
    flex: auto;
    grid-template-columns: auto auto;
    gap: 5px;
    padding: 5px;
    grid: auto / 20% auto;
    overflow: auto;
}
div .col-4{
    display: contents;
    overflow-y: hidden;
    width: 20%;
    position: absolute;
}
div .col-8{
    display: block;
    overflow: auto;
    width: 100%;
    float: right;
}
#list-example{
    width: 100%;
}
.list-group-item{
    overflow-y: visible;
    color: #fff;
}
.list-group-item-action{
    width: 100%;
    background: #706942;
}
#text-section{
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: none;
    padding: 10px;
    grid: auto / 35% auto;
}
#text-section div{
    text-align: center;
    padding: 20px 0;
}
/* FOOTER SECTION STYLESHEET */
footer{
    background-color: #000;
    display: flex;
    width: 100%;
    height: 2rem;
    color: #fff;
}
.foo-list{
    margin: 0 auto;
    list-style: none;
    display: flex;
    float: left;
    padding-left: 20px;
}   
.foo-link{
    text-decoration: none;
    color: #fff;
}
@media (max-width:1000px){
    #list-example{
        width: calc(25vw);
    }
}